assignment1.txt
[{"id":"526e845e.12c77c","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"payload","x":607,"y":259,"wires":[]},{"id":"97a394b.6291168","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":224,"y":259,"wires":[["57e3eaba.b925e4"]]},{"id":"57e3eaba.b925e4","type":"function","z":"deb0d57.1c46528","name":"","func":"function random(min, max)\n{\n  minimo = Math.ceil(min);\n  maximo = Math.floor(max);\n  return Math.floor(Math.random() * (maximo - minimo + 1)) + minimo;\n}\n\nvar numero = random(1, 10);\n\nif(numero < 5){\n    msg.payload = \"Number \" + numero + \" is a low number\";    \n} else {\n    msg.payload = \"Number \" + numero + \" is a high number\";    \n}\n\nreturn msg","outputs":1,"noerr":0,"x":409,"y":259,"wires":[["526e845e.12c77c"]]}]
