assignment1.txt
[{"id":"526e845e.12c77c","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"payload","x":607,"y":259,"wires":[]},{"id":"97a394b.6291168","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":224,"y":259,"wires":[["57e3eaba.b925e4"]]},{"id":"57e3eaba.b925e4","type":"function","z":"deb0d57.1c46528","name":"","func":"function random110(min, max) {\n  min = Math.ceil(min);\n  max = Math.floor(max);\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nvar numero = random110(1, 10);\nif(numero < 5){\n    msg.payload = \"number \" + num + \" is a low number\";    \n} else {\n    msg.payload = \"number \" + num + \" is a high number\";    \n}\n\nreturn msg","outputs":1,"noerr":0,"x":409,"y":259,"wires":[["526e845e.12c77c"]]}]
